{
  "presets": ["es2015", "react", "babel-preset-stage-1"],
  "plugins": ["babel-plugin-transform-decorators-legacy"],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }]
        }]
      ]
    }
  }
}
