{
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "comma-dangle": [2, "never"],
    "space-after-keywords": [2, "never"],
    "react/jsx-quotes": [2, "double"],
    "react/prop-types": 0,
    "no-use-before-define": 0,
    "padded-blocks": 0,
    "id-length": [2, {
      "min": 3,
      "max": 30,
      "properties": "never",
      "exceptions": ["x", "y", "vx", "vy", "id", "i", "e", "fn"]
    }]
  },
  "plugins": [
    "react"
  ]
}
